<div class="container">
  <div class="main-content__ad">
    <div class="main-content__ad-item" *ngFor=" let ad of posts">
      <div class="main-content__ad-image">
        <img src="{{ad.img}}" alt="Ошибка загрузки фото">
      </div>
      <div class="main-content__ad-description">
        <p class="ad-name">{{ad.title}}</p>
        <p class="ad-cost">{{ad.price}}₽</p>
        <p class="ad-text">{{ad.location}}</p>
        <p class="ad-text">{{ad.date}}</p>
      </div>
    </div>
  </div>
</div>
