
.main-content__ad-image {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.2s ease;
}

.main-content__ad-item:hover .main-content__ad-image {
  transform-origin: center;
  transform: scale(1.02);
}

.container {
  flex-wrap: wrap;
}

.main-content__ad div:nth-child(3n) {
  margin-right: 0;
}

.main-content__ad {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.main-content__ad-description {
  margin-top: 5px;
}

.ad-name {
  color: #6697E6;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

.ad-cost {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

.ad-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
