<div class="container">
  <div class="main-content__ad">
    <div class="main-content__ad-item">
      <div class="main-content__ad-image">
        <img src="assets/piano.png" alt="Ошибка загрузки фото">
      </div>
      <div class="main-content__ad-description">
        <p class="ad-name">{{product.name}}</p>
        <p class="ad-cost">{{product.price}}₽</p>
        <p class="ad-text">{{product.description}}</p>
        <p class="ad-text">{{product.ean}}</p>
      </div>
    </div>
  </div>
</div>
